.page {
  height: 30vh;
  width: 100%;
  background: black;
  position: relative;
}
.animate-text {
  position: absolute;
  top: 40%;
  opacity: 1;
  transition: all 400ms ease-in-out;
}

@media (max-width: 500px) {
  .animate-text {
    top: 50%;
    font-size: 36px;
  }
}
