.page {
  height: 15vh;
  width: 100vw;
  background: black;
  position: relative;
}
.animate-text {
  position: absolute;
  top: 5%;
  opacity: 1;
  transition: all 400ms ease-in-out;
}

@media (max-width: 500px) {
  .page {
    height: 8vh;
  }
  .animate-text {
    font-size: 36px;
  }
}
@media (max-width: 400px) {
  .page {
    height: 8vh;
  }
  .animate-text {
    font-size: 24px;
  }
}
